*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  font-family: monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input {
  font-size: 3rem;
  font-family: monospace, sans-serif;
}

.password {
  margin-right: 1rem;
}